<div class="well text-center">
  <h3 class="drop-shadow">
    <span class="glyphicon glyphicon-wrench" aria-hidden="true">&nbsp;</span>{{ ::title }}
  </h3><hr/>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{ ::arduino.model }}</h4>
          <div class="row">
            <div class="col-sm-12">
              <img src="img/W5100.png" class="img-responsive img-drop-shadow" alt="Arduino w5100">
              <kbd>{{ ::arduino.baseUrl }}</kbd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>